ohif/*
!ohif/extensions/ohif-alzheimer-prediction/**
!ohif/modes/longitudinal/**
!ohif/modes/segmentation/**
!ohif/platform/app/public/config/orthanc.js
!ohif/platform/app/pluginConfig.json
!ohif/nginx.conf

# Bỏ thư mục models
models/

# Bỏ file rác, môi trường ảo, CSDL
venv/
.env
*.sqlite3
db.sqlite3
__pycache__/
*.pyc
node_modules/
dist/
build/
