# ====================================
# BỎ TOÀN BỘ OHIF MẶC ĐỊNH
# ====================================
ohif/*

# Giữ lại các file/thư mục cần push
!ohif/extensions/ohif-alzheimer-prediction/
!ohif/modes/longitudinal/
!ohif/modes/segmentation/
!ohif/platform/app/public/config/orthanc.js
!ohif/platform/app/pluginConfig.json
!ohif/nginx.conf

# ====================================
# BỎ QUA THƯ MỤC MODELS
# ====================================
models/

# ====================================
# BỎ FILE RÁC, MÔI TRƯỜNG ẢO, CSDL
# ====================================
venv/
.env
*.sqlite3
db.sqlite3
__pycache__/
*.pyc
node_modules/
dist/
build/
